//- includes
include ../includes/head
include ../includes/img-section


//- vars
- var headArgs = ["Responsive Flexbox Image Gallery", "Flexbox - img gallery", "flex"]


//- <head>
+head(headArgs[0], headArgs[1], headArgs[2])


//- <body>
body 
    section 
        +alikeImages()