//- includes
include ../includes/head
include ../includes/img-section


//- vars
- var headArgs = ["Responsive Grid Image Gallery", "Grid - img gallery", "grid"]


//- <head>
+head(headArgs[0], headArgs[1], headArgs[2])


//- <body>
body 
    section 
        +alikeImages()