//- includes
include ../includes/head
include ../includes/img-section


//- vars
-
  var headArgs = [
        "Responsive Grid Image Gallery",
        "Grid - img gallery",
        "grid",
        "https://wallpaperaccess.com"
    ]


//- <head>
+head(headArgs[0], headArgs[1], headArgs[2], headArgs[3], headArgs[3])


//- <body>
body 
    section 
        +wallpaperImg()