//- includes
include ../includes/head


//- vars
-
  var headArgs = [
    "3 pages of responsive image galleries",
    "Image Gallery",
    "index"
  ]
- var connectedPages = ["grid", "cols", "flex"]


//- <head>
+head(headArgs[0], headArgs[1], headArgs[2])


//- <body>
body 
    each page in connectedPages
        a(href=`./${page}.html`) 