- var images = [2076051, 1373686, 26841, 159042, 1864015, 1406201, 479533, 455824, 49344, 982096, 1373713, 786111, 479543, 1406229, 159066, 772125, 1373742, 1864019, 110400, 910880, 49343, 5552825]

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Image Gallery
        //- General Styles
        link(rel="stylesheet", href="general.css")
        // layout styles
        //- link(rel="stylesheet", href="flex.css")
        link(rel="stylesheet", href="grid.css")
        base(href="https://wallpaperaccess.com/full/")
    body 
        section 
            each img in images
                figure 
                    img(src=`${img}.jpg`, alt="")

//- flex-grow
    //- ! 1 0 30%
    //- flex: 0 1 33.3%

//- no MQ
    //- ! flex-basis | flex-direction
    //- ...

//- not taking up the whole height
    //- ! insteada img : bg
    //- height:100%; object-fit:cover;